**EJERCICIO 1**
**Estudiante: Jorge Barquero Villagra**

En esta competición se dispone de información de año y medio de datos sobre el comportamiento de clientes en la compra de nuevos productos. Los datos empiezan el día 28/01/2015 y tiene información mensual sobre los productos que tiene un cliente como "tarjeta de crédito", "cuenta de ahorros", ... El objetivo de esta competición era predecir qué productos adquirirá en el mes de la fecha 28/06/2016. Los productos están en las columnas llamadas "ind_(xyz)_ult1" que son las columnas que están desde la posición 25 a la 48 en el conjunto de datos de entrenamiento. 
En los datos de la competición, data_santander_red, se puede comprobar que existe información de distintos tipos. Exactamente:
•	Instante temporal: identifica el momento en el que se guarda el registro
•	Identificador de usuario: nos hacer un seguimiento de la persona mes a mes
•	Datos personales: información que identifican a una persona (edad, sexo, lugar de residencia, ...)
•	Relación persona/empresa: información que identifica la relación de la persona con el banco (antiguedad, indice de actividad, ...)
•	Productos de la persona: productos que disponía la persona el día del registro

EJERCICIO 1 -LECTURA Y PASOS PREVIOS-: CON LOS DATOS DE DATA_SANTANDER_RED (VARIABLE “RENTA”):
1.	Leerlo como un dataframe (con la librería pandas) y llamarlo df_santander

In [2]:
# leer el data frame
import os
import pandas as pd

# Get the current working directory
cwd = os.getcwd()

# Define the relative path to the csv file
csv_path = os.path.join(cwd,  'data_santander_red.csv')

# Load the csv file into a pandas dataframe
df_santander = pd.read_csv(csv_path)

# get the relative address
print(os.getcwd())

# show the first 5 rows of the dataframe
df_santander.head()

c:\git\Python\python\Estudio\Data Science\Análisis Exploratorio\Caso Práctico

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0

2.	Observar los tipos de datos y cambiar “ind_viv_fin_ult1” a tipo float64 (astype(float)), ya que pretendemos usarlo en fases posteriores y se requiere que sea numérico.

In [6]:
# Se convierte el tipo de dato de la columna
df_santander['ind_viv_fin_ult1'] = df_santander['ind_viv_fin_ult1'].astype(float)

3.	Tratar de responder a las siguientes preguntas de entendimiento inicial de los datos:
o	¿Disponemos de un conjunto de datos suficientemente grande para nuestro objetivo?
o	¿Nos faltan variables que podrían ser interesantes?
o	¿Existe alguna variable que no sepamos lo que significa?
o	¿Alguna de las variables que tenemos tiene un tipo raro (ej: es de tipo String en vez de numérico)?

In [ ]:
# TODO: Pendiente

4.	Revisar el número de provincias que existen en los datos y compararlo con las provincias de España, ¿falta alguna? (df_santander['nomprov'].nunique())

In [23]:
# Provincias 
print (df_santander['nomprov'].unique())

# Son 52, están todas las provincias de España
print("Cantidad de provincias: {}".format(df_santander["nomprov"].nunique()))

['MALAGA' 'CIUDAD REAL' 'ZARAGOZA' 'TOLEDO' 'LEON' 'GIPUZKOA' 'CACERES'
 'GIRONA' 'ZAMORA' 'BARCELONA' 'SALAMANCA' 'BURGOS' 'HUESCA' 'NAVARRA'
 'AVILA' 'SEGOVIA' 'LUGO' 'LERIDA' 'MADRID' 'ALICANTE' 'SORIA' 'SEVILLA'
 'CANTABRIA' 'BALEARS, ILLES' 'VALLADOLID' 'PONTEVEDRA' 'VALENCIA'
 'TERUEL' 'CORUÑA, A' 'OURENSE' 'JAEN' 'CUENCA' 'BIZKAIA' 'CASTELLON'
 'RIOJA, LA' 'ALBACETE' 'BADAJOZ' 'MURCIA' 'CADIZ' nan 'ALMERIA'
 'GUADALAJARA' 'PALENCIA' 'PALMAS, LAS' 'CORDOBA' 'HUELVA' 'GRANADA'
 'ASTURIAS' 'SANTA CRUZ DE TENERIFE' 'MELILLA' 'TARRAGONA' 'ALAVA' 'CEUTA']
Cantidad de provincias: 52

5.	Ordena las provincias alfabéticamente y luego calcula los valores únicos (unique())

In [26]:
# Se convierte el tipo de dato de la columna nomprov a string
df_santander['nomprov'] = df_santander['nomprov'].astype(str)

# Ordenar las provincias de forma alfabética
sorted_provinces = sorted(df_santander['nomprov'].unique())

# Calcular la cantidad de provincias únicas
unique_provinces = len(sorted_provinces)

# Print the sorted provinces and the number of unique provinces
print("Sorted Provinces: ", sorted_provinces)
print("Unique Provinces: ", unique_provinces)

Sorted Provinces:  ['ALAVA', 'ALBACETE', 'ALICANTE', 'ALMERIA', 'ASTURIAS', 'AVILA', 'BADAJOZ', 'BALEARS, ILLES', 'BARCELONA', 'BIZKAIA', 'BURGOS', 'CACERES', 'CADIZ', 'CANTABRIA', 'CASTELLON', 'CEUTA', 'CIUDAD REAL', 'CORDOBA', 'CORUÑA, A', 'CUENCA', 'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA', 'JAEN', 'LEON', 'LERIDA', 'LUGO', 'MADRID', 'MALAGA', 'MELILLA', 'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS, LAS', 'PONTEVEDRA', 'RIOJA, LA', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE', 'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO', 'VALENCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA', 'nan']
Unique Provinces:  53

6.	Revisa si los datos de los clientes que tenemos están homogéneamente distribuidos en España o se centran más en algunas provincias que en otras.

In [27]:
province_counts = df_santander['nomprov'].value_counts()

print(province_counts)

# Los datos están distribuidos en Madrid y Barcelona mayoritariamente.

nomprov
MADRID                    16113
BARCELONA                 11080
SEVILLA                    5261
CORUÑA, A                  5211
MURCIA                     4140
PONTEVEDRA                 3726
MALAGA                     3661
CADIZ                      3348
VALENCIA                   3186
ZARAGOZA                   2816
BADAJOZ                    2754
ALICANTE                   2364
VALLADOLID                 2194
SALAMANCA                  2098
ASTURIAS                   1965
CACERES                    1912
CORDOBA                    1820
HUELVA                     1691
TOLEDO                     1688
PALMAS, LAS                1568
LUGO                       1258
CASTELLON                  1254
CIUDAD REAL                1213
ALBACETE                   1203
OURENSE                    1137
LERIDA                     1118
GIRONA                     1106
CANTABRIA                  1035
BURGOS                     1006
GRANADA                     918
BALEARS, ILLES              770
nan                         769
CUENCA                      755
ZAMORA                      710
TARRAGONA                   701
RIOJA, LA                   697
NAVARRA                     565
PALENCIA                    555
LEON                        554
JAEN                        473
BIZKAIA                     449
AVILA                       442
HUESCA                      434
SEGOVIA                     391
ALMERIA                     358
SANTA CRUZ DE TENERIFE      339
GUADALAJARA                 338
GIPUZKOA                    232
TERUEL                      224
ALAVA                       156
SORIA                       156
MELILLA                      49
CEUTA                        39
Name: count, dtype: int64