In [1]:
# leer el data frame
import os
import pandas as pd

# Define the relative path to the csv file
csv_path = os.path.join(os.getcwd(), 'data', 'data_santander_red.csv')

# Load the csv file into a pandas dataframe
df_santander = pd.read_csv(csv_path)

# get the relative address
print(os.getcwd())

# show the first 5 rows of the dataframe
df_santander.head()

/Users/jorgebarquero/GitRepos/python/Estudio/Data Science/Análisis Exploratorio/Caso Práctico

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0

12.	Mediante análisis de correlaciones, identificar si la edad es un factor que permite identificar si una persona va a comprar un producto o no.

In [8]:
#print(df_santander[['age', 'ind_ahor_fin_ult1']].dtypes)
df_santander.dropna(subset=['age'], inplace=True)
df_santander['age'] = df_santander['age'].astype(float)


correlation = df_santander['age'].corr(df_santander['ind_ahor_fin_ult1'])
#print("Correlation between Age and Buy_Product:", correlation)

ValueError: could not convert string to float: ' NA'