Deep Learning.
Estudiante Jorge Barquero

### 1. Cargar ambos archivos - 1 punto

In [62]:
# Import de librerías iniciales
import pandas as pd
import os as os
from sklearn.preprocessing import LabelEncoder

parent_dir = os.path.dirname(os.getcwd())

dataTest = pd.read_csv(parent_dir + '/Ejercicio/data/test_v2.csv', encoding='latin1',delimiter=';')
dataTrain = pd.read_csv(parent_dir + '/Ejercicio/data/train_v2.csv', encoding='latin1',delimiter=';')

In [63]:
dataTest.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1000,20,RL,64.0,6762,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,206000
1,1001,20,RL,74.0,10206,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,82000
2,1002,30,RL,60.0,5400,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Abnorml,86000
3,1003,20,RL,75.0,11957,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,232000
4,1004,90,RL,NaN,11500,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,136905

In [64]:
dataTrain.set_index("Id", inplace=True)
dataTrain.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### 2. Análisis exploratorio: identificar valores desconocidos, filas duplicadas y estadístidos de las variables del conjunto de datos - 1 punto.

In [65]:
dataTest.set_index("Id", inplace=True)
dataTest.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1000,20,RL,64.0,6762,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,206000
1001,20,RL,74.0,10206,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,82000
1002,30,RL,60.0,5400,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2007,WD,Abnorml,86000
1003,20,RL,75.0,11957,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,232000
1004,90,RL,NaN,11500,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,136905

In [66]:
# rename de columnas para facilitar entendimiento

# En el conjunto de datos de entrenamiento
dataTrain = dataTrain.rename(columns={'MSSubClass': 'TipoVivienda', 'LotFrontage': 'FrenteTerreno', 'LotArea': 'AreaTerreno', 
                                      'OverallQual': 'CalidadGeneral', 'OverallCond': 'CondicionGeneral', 'YearBuilt': 'AnioConstruccion',
                                      'YearRemodAdd': 'AnioRemodelacion', 'MasVnrArea': 'AreaMamposteria', 'BsmtFinSF1': 'AreaSotano1',
                                      'BsmtFinSF2': 'AreaSotano2', 'BsmtUnfSF': 'AreaSotanoInacabada', 'TotalBsmtSF': 'AreaTotalSotano',
                                      '1stFlrSF': 'AreaPrimerPiso', '2ndFlrSF': 'AreaSegundoPiso', 'LowQualFinSF': 'AreaBajaCalidad',
                                      'GrLivArea': 'AreaVivienda', 'BsmtFullBath': 'BanosCompletosSotano', 'BsmtHalfBath': 'BanosMediosSotano',
                                      'FullBath': 'BanosCompletos', 'HalfBath': 'BanosMedios', 'BedroomAbvGr': 'Dormitorios',
                                      'KitchenAbvGr': 'Cocinas', 'TotRmsAbvGrd': 'TotalHabitaciones', 'Fireplaces': 'Chimeneas',
                                      'GarageYrBlt': 'AnioConstruccionGaraje', 'GarageCars': 'Cocheras', 'GarageArea': 'AreaGaraje',
                                      'WoodDeckSF': 'AreaDeckMadera', 'OpenPorchSF': 'AreaPorchAbierto', 'EnclosedPorch': 'AreaPorchCerrado',
                                      '3SsnPorch': 'AreaPorchTresEstaciones', 'ScreenPorch': 'AreaPorchCerradoMosquitero', 
                                      'PoolArea': 'AreaPiscina', 'MiscVal': 'ValorMiscelaneo', 'MoSold': 'MesVenta', 'YrSold': 'AnioVenta',
                                      'SalePrice': 'PrecioVenta'})

# En el conjunto de datos de prueba
dataTest = dataTest.rename(columns={'MSSubClass': 'TipoVivienda', 'LotFrontage': 'FrenteTerreno', 'LotArea': 'AreaTerreno', 
                                    'OverallQual': 'CalidadGeneral', 'OverallCond': 'CondicionGeneral', 'YearBuilt': 'AnioConstruccion',
                                    'YearRemodAdd': 'AnioRemodelacion', 'MasVnrArea': 'AreaMamposteria', 'BsmtFinSF1': 'AreaSotano1',
                                    'BsmtFinSF2': 'AreaSotano2', 'BsmtUnfSF': 'AreaSotanoInacabada', 'TotalBsmtSF': 'AreaTotalSotano',
                                    '1stFlrSF': 'AreaPrimerPiso', '2ndFlrSF': 'AreaSegundoPiso', 'LowQualFinSF': 'AreaBajaCalidad',
                                    'GrLivArea': 'AreaVivienda', 'BsmtFullBath': 'BanosCompletosSotano', 'BsmtHalfBath': 'BanosMediosSotano',
                                    'FullBath': 'BanosCompletos', 'HalfBath': 'BanosMedios', 'BedroomAbvGr': 'Dormitorios',
                                    'KitchenAbvGr': 'Cocinas', 'TotRmsAbvGrd': 'TotalHabitaciones', 'Fireplaces': 'Chimeneas',
                                    'GarageYrBlt': 'AnioConstruccionGaraje', 'GarageCars': 'Cocheras', 'GarageArea': 'AreaGaraje',
                                    'WoodDeckSF': 'AreaDeckMadera', 'OpenPorchSF': 'AreaPorchAbierto', 'EnclosedPorch': 'AreaPorchCerrado',
                                    '3SsnPorch': 'AreaPorchTresEstaciones', 'ScreenPorch': 'AreaPorchCerradoMosquitero', 
                                    'PoolArea': 'AreaPiscina', 'MiscVal': 'ValorMiscelaneo', 'MoSold': 'MesVenta', 'YrSold': 'AnioVenta',
                                    'SalePrice': 'PrecioVenta'})

In [67]:
# verificar 
nan_Test = dataTest.isna().sum().sum()
nan_Train = dataTrain.isna().sum().sum()

print ("Valores NaN en datos de Train: ", nan_Train)
print ("Valores NaN en datos de Test: ", nan_Test)

Valores NaN en datos de Train:  5340
Valores NaN en datos de Test:  2489

In [68]:
duplicates_Test = dataTest.duplicated()
duplicates_Train = dataTrain.duplicated()
print("Filas duplicadas en datos de Test: ", duplicates_Test.sum())
print("Filas duplicadas en datos de Test: ", duplicates_Train.sum())

Filas duplicadas en datos de Test:  0
Filas duplicadas en datos de Test:  0

In [69]:
dataTest.describe()

,TipoVivienda,FrenteTerreno,AreaTerreno,CalidadGeneral,CondicionGeneral,AnioConstruccion,AnioRemodelacion,AreaMamposteria,AreaSotano1,AreaSotano2,...,AreaDeckMadera,AreaPorchAbierto,AreaPorchCerrado,AreaPorchTresEstaciones,AreaPorchCerradoMosquitero,AreaPiscina,ValorMiscelaneo,MesVenta,AnioVenta,PrecioVenta
count,461.000000,375.000000,461.000000,461.000000,461.000000,461.000000,461.000000,459.000000,461.000000,461.000000,...,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000
mean,56.854664,70.242667,10130.488069,6.045553,5.548807,1970.550976,1984.015184,91.514161,440.750542,42.648590,...,87.524946,44.503254,23.080260,2.765727,15.041215,6.221258,39.284165,6.344902,2007.789588,178018.427332
std,42.431255,26.519336,5738.877250,1.381590,1.121094,30.651692,21.139850,162.208547,484.642433,151.102953,...,127.110710,62.276195,62.020123,25.491972,56.385749,60.187451,425.503956,2.737883,1.333995,77495.649811
min,20.000000,21.000000,1477.000000,2.000000,3.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,52500.000000
25%,20.000000,58.500000,7500.000000,5.000000,5.000000,1950.000000,1966.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129000.000000
50%,50.000000,68.000000,9503.000000,6.000000,5.000000,1971.000000,1992.000000,0.000000,378.000000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162000.000000
75%,70.000000,80.000000,11500.000000,7.000000,6.000000,2000.000000,2004.000000,145.000000,694.000000,0.000000,...,161.000000,64.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,206900.000000
max,190.000000,313.000000,63887.000000,10.000000,9.000000,2009.000000,2009.000000,1378.000000,5644.000000,1031.000000,...,736.000000,547.000000,330.000000,304.000000,480.000000,738.000000,8300.000000,12.000000,2010.000000,745000.000000

In [70]:
dataTrain.describe()

,TipoVivienda,FrenteTerreno,AreaTerreno,CalidadGeneral,CondicionGeneral,AnioConstruccion,AnioRemodelacion,AreaMamposteria,AreaSotano1,AreaSotano2,...,AreaDeckMadera,AreaPorchAbierto,AreaPorchCerrado,AreaPorchTresEstaciones,AreaPorchCerradoMosquitero,AreaPiscina,ValorMiscelaneo,MesVenta,AnioVenta,PrecioVenta
count,999.000000,826.000000,999.000000,999.000000,999.000000,999.000000,999.000000,993.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,56.916917,69.962470,10695.109109,6.124124,5.587588,1971.598599,1985.258258,109.311178,444.972973,48.349349,...,97.345345,47.655656,21.434434,3.706707,15.070070,1.161161,45.429429,6.311311,2007.827828,182260.711712
std,42.261403,23.215821,11417.706546,1.383632,1.109300,30.003240,20.411974,188.961644,442.550816,165.864055,...,124.454384,68.021301,60.723143,30.930996,55.493478,26.116378,525.710557,2.688986,1.325859,80327.919925
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1880.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,60.000000,7589.000000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,130000.000000
50%,50.000000,70.000000,9452.000000,6.000000,5.000000,1974.000000,1994.000000,0.000000,384.000000,0.000000,...,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163990.000000
75%,70.000000,80.000000,11632.000000,7.000000,6.000000,2000.000000,2004.000000,175.000000,726.000000,0.000000,...,171.500000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,215000.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,2260.000000,1474.000000,...,857.000000,523.000000,552.000000,508.000000,410.000000,648.000000,15500.000000,12.000000,2010.000000,755000.000000

### 3. Ingeniería de variables. Crear una variable - 1 punto (OPCIONAL)

Voy a agregar una variable denominada AreaTotalVivienda, que represente el tamaño total de cada vivienda.
Para esto, sumaré las áreas del sotano, el primer piso y el segundo piso de cada caasa. Esta medida captura el espacio habitable total de la casa, incluyendo todas las áreas principales. 

La inclusión de "AreaTotalVivienda" en nuestro modelo es relevante debido a que el tamaño total de una vivienda puede influir significativamente en su valor de mercado.

In [71]:
# Conjunto de datos de entrenamiento
dataTrain['AreaTotalVivienda'] = dataTrain['AreaTotalSotano'] + dataTrain['AreaPrimerPiso'] + dataTrain['AreaSegundoPiso']

# Conjunto de datos de prueba
dataTest['AreaTotalVivienda'] = dataTest['AreaTotalSotano'] + dataTest['AreaPrimerPiso'] + dataTest['AreaSegundoPiso']

In [61]:
dataTest.iloc[:, -1].head()

Id
1000    2395
1001     944
1002    1382
1003    3148
1004    3360
Name: AreaTotalVivienda, dtype: int64

In [60]:
dataTrain.iloc[:,-1].head()

Id
1    2566
2    2524
3    2706
4    2473
5    3343
Name: AreaTotalVivienda, dtype: int64

### 4. Eliminar las variables de entrada no numéricas (también está admitido utilizar técnicas de label encoder o parecidos para transformar los textos en números) - 1 punto

In [72]:
# Mostrar las primeras filas del conjunto de datos de entrenamiento antes de aplicar el label encoder
print("\nConjunto de datos de entrenamiento antes de aplicar el label encoder:")
print(dataTrain.head())

Conjunto de datos de entrenamiento antes de aplicar el label encoder:
    TipoVivienda MSZoning  FrenteTerreno  AreaTerreno Street Alley LotShape
Id
1             60       RL           65.0         8450   Pave   NaN      Reg  \
2             20       RL           80.0         9600   Pave   NaN      Reg
3             60       RL           68.0        11250   Pave   NaN      IR1
4             70       RL           60.0         9550   Pave   NaN      IR1
5             60       RL           84.0        14260   Pave   NaN      IR1

   LandContour Utilities LotConfig  ... PoolQC Fence MiscFeature
Id                                  ...
1          Lvl    AllPub    Inside  ...    NaN   NaN         NaN  \
2          Lvl    AllPub       FR2  ...    NaN   NaN         NaN
3          Lvl    AllPub    Inside  ...    NaN   NaN         NaN
4          Lvl    AllPub    Corner  ...    NaN   NaN         NaN
5          Lvl    AllPub       FR2  ...    NaN   NaN         NaN

   ValorMiscelaneo MesVenta AnioVenta  SaleType  SaleCondition  PrecioVenta
Id
1                0        2      2008        WD         Normal       208500  \
2                0        5      2007        WD         Normal       181500
3                0        9      2008        WD         Normal       223500
4                0        2      2006        WD        Abnorml       140000
5                0       12      2008        WD         Normal       250000

    AreaTotalVivienda
Id
1                2566
2                2524
3                2706
4                2473
5                3343

[5 rows x 81 columns]

In [73]:
# Mostrar las primeras filas del conjunto de datos de entrenamiento antes de aplicar el label encoder
print("\nConjunto de datos de prueba antes de aplicar el label encoder:")
print(dataTrain.head())

Conjunto de datos de prueba antes de aplicar el label encoder:
    TipoVivienda MSZoning  FrenteTerreno  AreaTerreno Street Alley LotShape
Id
1             60       RL           65.0         8450   Pave   NaN      Reg  \
2             20       RL           80.0         9600   Pave   NaN      Reg
3             60       RL           68.0        11250   Pave   NaN      IR1
4             70       RL           60.0         9550   Pave   NaN      IR1
5             60       RL           84.0        14260   Pave   NaN      IR1

   LandContour Utilities LotConfig  ... PoolQC Fence MiscFeature
Id                                  ...
1          Lvl    AllPub    Inside  ...    NaN   NaN         NaN  \
2          Lvl    AllPub       FR2  ...    NaN   NaN         NaN
3          Lvl    AllPub    Inside  ...    NaN   NaN         NaN
4          Lvl    AllPub    Corner  ...    NaN   NaN         NaN
5          Lvl    AllPub       FR2  ...    NaN   NaN         NaN

   ValorMiscelaneo MesVenta AnioVenta  SaleType  SaleCondition  PrecioVenta
Id
1                0        2      2008        WD         Normal       208500  \
2                0        5      2007        WD         Normal       181500
3                0        9      2008        WD         Normal       223500
4                0        2      2006        WD        Abnorml       140000
5                0       12      2008        WD         Normal       250000

    AreaTotalVivienda
Id
1                2566
2                2524
3                2706
4                2473
5                3343

[5 rows x 81 columns]

In [74]:
# Realizar el encoder

# Crear una instancia de LabelEncoder
label_encoder = LabelEncoder()

# Aplicar el label encoder a las características categóricas en el conjunto de datos de entrenamiento
for columna in dataTrain.select_dtypes(include=['object']).columns:
    dataTrain[columna] = label_encoder.fit_transform(dataTrain[columna])

# Aplicar el label encoder a las características categóricas en el conjunto de datos de prueba
for columna in dataTest.select_dtypes(include=['object']).columns:
    dataTest[columna] = label_encoder.fit_transform(dataTest[columna])

In [75]:
# Mostrar las primeras filas del conjunto de datos de entrenamiento después de aplicar el label encoder
print("\nConjunto de datos de entrenamiento después de aplicar el label encoder:")
print(dataTrain.head())

Conjunto de datos de entrenamiento después de aplicar el label encoder:
    TipoVivienda  MSZoning  FrenteTerreno  AreaTerreno  Street  Alley
Id
1             60         3           65.0         8450       1      2  \
2             20         3           80.0         9600       1      2
3             60         3           68.0        11250       1      2
4             70         3           60.0         9550       1      2
5             60         3           84.0        14260       1      2

    LotShape  LandContour  Utilities  LotConfig  ...  PoolQC  Fence
Id                                               ...
1          3            3          0          4  ...       2      4  \
2          3            3          0          2  ...       2      4
3          0            3          0          4  ...       2      4
4          0            3          0          0  ...       2      4
5          0            3          0          2  ...       2      4

    MiscFeature  ValorMiscelaneo  MesVenta  AnioVenta  SaleType
Id
1             3                0         2       2008         8  \
2             3                0         5       2007         8
3             3                0         9       2008         8
4             3                0         2       2006         8
5             3                0        12       2008         8

    SaleCondition  PrecioVenta  AreaTotalVivienda
Id
1               4       208500               2566
2               4       181500               2524
3               4       223500               2706
4               0       140000               2473
5               4       250000               3343

[5 rows x 81 columns]

In [76]:
# Mostrar las primeras filas del conjunto de datos de prueba después de aplicar el label encoder
print("\nConjunto de datos de prueba después de aplicar el label encoder:")
print(dataTest.head())

Conjunto de datos de prueba después de aplicar el label encoder:
      TipoVivienda  MSZoning  FrenteTerreno  AreaTerreno  Street  Alley
Id
1000            20         3           64.0         6762       1      2  \
1001            20         3           74.0        10206       1      2
1002            30         3           60.0         5400       1      2
1003            20         3           75.0        11957       1      2
1004            90         3            NaN        11500       1      2

      LotShape  LandContour  Utilities  LotConfig  ...  PoolQC  Fence
Id                                                 ...
1000         3            3          0          4  ...       3      4  \
1001         3            3          0          0  ...       3      4
1002         3            3          0          0  ...       3      4
1003         0            3          0          4  ...       3      4
1004         0            3          0          0  ...       3      4

      MiscFeature  ValorMiscelaneo  MesVenta  AnioVenta  SaleType
Id
1000            3                0         2       2010         6  \
1001            3                0         7       2009         6
1002            3                0         1       2007         6
1003            3                0         7       2008         6
1004            3                0         6       2007         6

      SaleCondition  PrecioVenta  AreaTotalVivienda
Id
1000              3       206000               2395
1001              3        82000                944
1002              0        86000               1382
1003              3       232000               3148
1004              3       136905               3360

[5 rows x 81 columns]

### 5. Eliminar la(s) variable(s) de entrada que no tengan sentido lógico para realizar la predicción - 1 punto (OPCIONAL)

In [ ]:
#todo